.userUpdateInput {
    width: 400px;
    border-bottom: 1px solid #080808;



}

.userUpdateForm {
    margin-left: 20px;
    display: flex;
    justify-content: space-around;


}

.userUpdateItem {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 20px;

}

.userUpdate {
    flex: 2;
    margin-right: 20px;

}

::placeholder {
    color: #434343;
    font-size: 13px;
}

.title_edit {
    margin-bottom: 20px;
    color: #3d3d29;
    font-weight: 700;
    font-size: 15px;

}
.avatar{
    width: 150px;
    height: 150px;
    border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
    margin-top: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.edit_avatar {
    width: 220px;
    height: 220px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    margin-top: 25px;
    margin-bottom: 10px;
   
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.userUpdateInput {
    border: none;
    width: 350px;
    border-bottom: 1px solid #89895d;
    outline: none;
    margin-left: 5px;
    color: #6a6a48;
    background-color: #f5f3f4;
}

.listUser_btn {
    
    color: #fff;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 600;
    transition: all 0.5s ease;
    overflow: hidden;
    background-color: #0033cc;
    width: 150px;
    padding: 15px;
    margin-left:15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;

}

.listUser_btn:hover {
    background: linear-gradient(to bottom, #0000cc 0%, #3399ff 100%);

}

.userUpdateIcon {
    font-size: 25px;
    margin-top: -20px;
    margin-left: -30px;
    cursor: pointer;
}

.right_{
    display: flex;
}
.edit_left{
    flex: 2;
    display: flex;
    background-color: #434343;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height: 340px;
}
.edit_right{
    flex:4;
    margin-left: 20px;
    background-color: #dfdddd;
    display: flex;
    margin-right: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height: 340px;
}
.overview_left{
    flex: 2;
}
.overview_rigt{
    flex: 4;
}